@model List<Product>
@{
    ViewData["Title"] = "Index page";
}


<div class="main-panel">
    <div>
        <a class="btn btn-success" asp-area="Admin" asp-controller="Product" asp-action="Create">Create a new product</a>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        SKU
                    </th>
                    <th>
                        Settings
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model)
                {
                    <tr>
                        <td>
                            <img src="~/assets/images/website-images/@product.ProductImages.FirstOrDefault(p=>p.IsMain == true)?.Image" alt="">
                        </td>
                        <td>
                            @product.Name
                        </td>
                         <td>
                            @product.Price
                        </td>
                        <td>
                            @product.SKU
                        </td>
                        <td  class="d-flex">
                                <div>
                                    <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning"><i class="mdi mdi-border-color"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-danger" asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id"><i class="mdi mdi-delete"></i></a>
                                </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>